@import "tailwindcss";

.filter-menu{
    position: absolute;
    top: 100%;
    left: 0;
    margin-top: 4px;
    border-radius: 4px;
    min-width: 200px;
    max-height: 300px;
    overflow-y: auto;
    z-index: 1000;
    border-color: var(--color-zinc-950);
}

.filter-option{
    display: flex;
    align-items: center;
    padding: 8px 12px;
    cursor: pointer;
    gap: 8px;
    border-top-width: 1px;
    border-color: var(--color-zinc-950);
}

.filter-option:hover{
    background-color: var(--color-zinc-800);
    color: white;
}